name: Deploy
on:
  push:
    branches:
      - master
jobs:
  deploy:
    name: Deploy to GitHub page
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [10, 12, 14, 16]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Deploy
        run: |
          npm run build
          cd dist
          git init
          git add .
          git commit -m "deploy"
          git push -f https://github.com/ycjoyce/audio-player master:gh-pages
          cd -